/* CSS chung */
body {
    background-color: #f0c0d1; /* Màu nền hồng */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    flex-direction: column;
}

/* Phần lời chúc */
#messageContent p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Phần vuông giữa màn hình */
#square {
    width: 300px;
    height: 300px;
    background-color: #ff69b4; /* Màu hồng đậm */
    margin: 20px auto;
    border-radius: 10px;
    display: none; /* Ẩn đi cho đến khi nhập đúng mật khẩu */
}

/* Hiển thị khi nhập đúng mật khẩu */
#message {
    display: none;
}

/* Ẩn hình ảnh */
#birthdayImage {
    display: none;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Ẩn message */
.hidden {
    display: none;
}
